#app-pokemon-list {
  width: 100%;
}

.pokemon {
  &-fighters {
    margin: 50px auto;
  }

  &-chosen {
    font-weight: bold;
    text-transform: capitalize;
  }

  &-content {
    padding: 30px;
  }

  &-content:hover {
    padding: 15px;
    border: 2px solid #1f30ff;
    border-radius: 5px;
  }
}
