<div id="app-pokemon">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pokemon-icon">
        <i class="fas fa-dot-circle"></i>
      </div>

      <div class="col-12 text-center pokemon-name">
        {{ name }}
      </div>

      <div class="col-12 text-center">
        <p>
          <span class="pokemon-attr-title">Niveau de vie:</span> {{ life }},
          <span class="pokemon-attr-title">Rapidité:</span> {{ speed }}
        </p>
      </div>
    </div>
  </div>
</div>
