<div id="app-pokemon">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pokemon-icon">
        <i class="fas fa-dot-circle"></i>
        <span *ngIf="!pokemon.isAlive">☠</span>
      </div>

      <div class="col-12 text-center pokemon-name">
        {{ pokemon?.name }}
      </div>

      <div class="col-12 text-center">
        <p *ngIf="pokemon?.life > 0"><span class="pokemon-attr-title">Niveau de vie:</span> {{ pokemon?.life }}</p>
        <p *ngIf="pokemon?.life <= 0"><span class="pokemon-attr-title">Niveau de vie:</span> 0 </p>
        <p><span class="pokemon-attr-title">Rapidité:</span> {{ pokemon?.speed }}</p>
        <p><span class="pokemon-attr-title">Puissance:</span> {{ pokemon?.attackValue }}</p>
      </div>
    </div>
  </div>
</div>
