<div class="pokemon1">
  <h2>{{ pokemon1.nom }}</h2>
  <p>Caractéristiques :</p>
  <ul>
    <li>
      vitesse : {{ pokemon1.speed }}
    </li>
    <li>
      points de vie : {{ pokemon1.life }}
    </li>
    <li>
      attack : {{pokemon1.attackValue}}
    </li>
  </ul>
</div>
<div class="pokemon2">
  <h2>{{ pokemon2.nom }}</h2>
  <p>Caractéristiques :</p>
  <ul>
    <li>
      vitesse : {{ pokemon2.speed }}
    </li>
    <li>
      points de vie : {{ pokemon2.life }}
    </li>
    <li>
      attack : {{pokemon2.attackValue}}
    </li>
  </ul>
</div>
